<div class="container-fluid">
<table class="table">
	<tr>
		<td><strong>Title</strong></td>
		<td><strong>User</strong></td>
		<td><strong>ID</strong></td>

	</tr>
	<% @tasklists.each do |tasklist| %>
	<tr>
		<td><%= tasklist.title %></td>
		<td><%= tasklist.user.name %></td>
		<td><%= tasklist.id %></td>
		<td><%= link_to "Destroy Tasklist", tasklist, confirm: "You sure?", method: :delete %></td>
	</tr>
	<%end%>
</table>
</div>