<table>
	<tr>
		<td>title</td>
		<td>user</td>

	</tr>
	<% @tasklists.each do |tasklist| %>
	<tr>
		<td><%= tasklist.title %></p>
		<td><%= tasklist.user %></td>
		<td><%= link_to "destroy tasklist", tasklist, confirm: "You sure?", method: :delete %></td>
	</tr>
	<%end%>
</table>