<div class="container-fluid">
	<table>
		<tr>
			<td>name</td>
			<td>email</td>
			<td>password</td>
		</tr>
		<% @admins.each do |admin| %>
		<tr>
			<td><%= admin.name %></td>
			<td><%= admin.email %></td>
			<td><%= admin.password %></td>
		</tr>
		<%end%>
	</table>
</div>