<h1>Ashwin Muthiah - CIS 196</h1>

<p><%= link_to "My github page", "https://github.com/ashwinmuthiah" %></p>

<p>Here is a form:

	<form action = "aform.html" method="post">
		<input type="radio" name="radio-btn" value="1">Choice 1
		<input type="checkbox" name="checkbox" value="2">Check here
		<input type="submit" value="Button"/>
	</form>
</p>
<p>
	Here is a picture of a giant apple:
	<img src="http://upload.wikimedia.org/wikipedia/commons/1/15/Red_Apple.jpg">
</p>